<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.taotao.mapper.TbItemGroupMapper">

    <select id="findGroupByCId" resultType="com.taotao.pojo.ItemGroup">
        SELECT * FROM tbitemparamgroup WHERE itemCatId = #{cId}
    </select>
    
    <select id="findKeysByGroupId" resultType="com.taotao.pojo.ItemGroupKeys">
        SELECT * FROM tbitemparamkey WHERE groupId = #{id}
    </select>

    <insert id="addParamGroup">
        INSERT INTO tbitemparamgroup(groupName,itemCatId) VALUES (#{groupName},#{cId})
    </insert>

    <select id="findParamGroupId" resultType="com.taotao.pojo.ItemParamGroup">
        SELECT * FROM tbitemparamgroup WHERE groupName = #{groupName}
    </select>

    <insert id="addParamKey">
        INSERT INTO tbitemparamkey(paramName, groupId) VALUES (#{key},#{id})
    </insert>

</mapper>