<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.taotao.mapper.TbItemMapper">

    <select id="findTtemById" resultType="com.taotao.pojo.TbItem">
        SELECT * FROM tbitem WHERE id = #{id}
    </select>

    <select id="findTbItemByCount" resultType="int">
        SELECT COUNT(*) FROM tbitem
    </select>

    <select id="findTbItemByPage" resultType="com.taotao.pojo.TbItem">
        SELECT * FROM tbitem LIMIT #{index},#{pageSize}
    </select>

    <update id="updateItemByIds">
        UPDATE tbitem SET status = #{type},updated = #{date}
        <where>
            <foreach collection="ids" open="id in(" close=")" separator="," item="id">
                #{id}
            </foreach>
        </where>
    </update>

    <select id="findItemFuzzyQuery" resultType="com.taotao.pojo.TbItem">
        SELECT * FROM tbitem
        <where>
            <if test="title != ''">
                and title LIKE "%${title}%" AND
            </if>
            price BETWEEN #{priceMin} AND #{priceMax}
            <if test="cId !=null">
                AND cId = #{cId}
            </if>
        </where>
        LIMIT #{page},#{limit}
    </select>

    <select id="findFuzzyQueryCount" resultType="int">
        SELECT COUNT(*) FROM tbitem
        <where>
            <if test="title!=''">
                and title LIKE "%${title}%" AND
            </if>
            price BETWEEN #{priceMin} AND #{priceMax}
            <if test="cId!=null">
                and cId = #{cId}
            </if>
        </where>
    </select>

</mapper>